body{
  margin:0;
  font-family:Arial;
  background:#111;
  color:white;
}

.container{
  padding:40px;
}

.metrics{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.card{
  background:#222;
  padding:20px;
  border-radius:10px;
  width:200px;
}

.table{
  margin-top:30px;
  background:#222;
  padding:20px;
  border-radius:10px;
}

.agent{
  margin-top:30px;
  background:#222;
  padding:20px;
  border-radius:10px;
}
